@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body {
   font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #999797, #F5FFFA, silver);
    overflow-x: hidden;
  }
 

  
/* header section*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  margin-top: 0px;
  margin-left: -80px ;
  margin-right: 200px;
  overflow: hidden;
  width: 120%;
  height: 80px;
  background-color: black;
  overflow-y: hidden;
  
}

main {
  /* height: calc(90vh - 70px); */
  background-color: white;
 
    display: flex;
  background-color: #f9f9f9;
}
/* Sidebar */ 
.side-bar {
  height: 100%;
  width: 17%;

}
h1{
  color: black;
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:#00BBC9;
  bottom: 40px;
  right: 50px;
  padding-top: 10px;
  text-decoration: none;
  text-align:center;
  line-height: 50px;
  color: whitesmoke;
  font-size: 22px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.gotopbtn.show {
  opacity: 1;
  visibility: visible;
}
#gotop:hover {
  cursor: pointer;
  background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: black; 
} 




.gotopbtn:hover {
color: whitesmoke;
color: black;



}  
@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
}
.left {
  display: flex;
  align-items: center;
 }
 
 .left #menu {
  padding: 0 7px;
  cursor: pointer;
 }
 .search {
  display: flex;
 }
 
 .search form {
  display: flex;
  border: 1px solid #ddd;
  height: 45px;
 }
 .search input {
  width: 600px;
  padding:10px;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}
.search button {
  height: 100%;
  width: 60px;
  border: none;
}
 
.mic {
  margin-top: 10px;
}
.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
  cursor: pointer;
 
  
}
h1{
  font-family:serif;
  color: #51aaa3;
  margin-left: 100px;
}
h1:hover{
  color: red;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 15px;
}

.nav-link:hover {
  background: #51aaa3;
  cursor: pointer;
}

.active {
  background: #e5e5e5;
}
hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}
.content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-gap: 50px;
  margin-top: 10px;
}
  /* flex-wrap: wrap; */
  /* margin: auto;
  margin-top: 200px;
  margin-left: 10px; 
  padding: 10px;
 width: 200px;
} */

.video {
  width: 270px;
  margin-bottom: 30px;
  
}
.thumbnail {
  width: 100%;
  height: 170px;
}

.thumbnail img {
  object-fit: cover;
  height: 94%;
  width: 100%;
}
.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.details {
  display: flex;
}
 
.title {
  display: flex;
  flex-direction: column;
}
 
.title h3 {
  color: rgb(3, 3, 3);
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}
 
.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: black; 
}  
.gotopbtn:hover {
color: whitesmoke;
color: black;

} 
/* .card-footer:hover{
background-color: #00BBC9;
} */
.rounded-left{
  margin-top: 20px;
 margin-left: 60px;
 
}

i:hover{
  color: red;

}
hr {
  height: 5px;
  background-color: #686868fb;
  border: none;
}
.icon{
  top: 10%;
  left: -80%;
  opacity: 50%;
transition:opacity 0.5s 

  /* margin-top:20px;
  margin-left: 50px; */
}
/* .header{
 
  margin-top: 0px;
  margin-left: 100px ;
  margin-right: -250px;
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: black;
  padding: 20px 10px;
} */
#footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
   text-align: center;

  /* position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  padding-bottom: 80px;
  margin-top: -260px; */  
}
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: red;
}
.fab {
  color: gray;
}

.btn-primary, .btn-primary:hover {
  background-color: #00BBC9;
  border-color: greenyellow;
  
 } 
body::-webkit-scrollbar {
  width: 15px;

 
             /* width of the entire scrollbar */
} 

body::-webkit-scrollbar-track {
  background: gray; 
 
         /* color of the tracking area */
  
}

body::-webkit-scrollbar-thumb {
  background-color: whitesmoke;   /* color of the scroll thumb */
   border-radius: 50%;       /* roundness of the scroll thumb */
  border: 4px solid #00BBC9;  /* creates padding around scroll thumb */
 
}
.gotopbtn{
  position:fixed;
  width: 50px;
  height: 50px;
  background:#00BBC9;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align:center;
  line-height: 50px;
  color: whitesmoke;
  font-size: 22px;
}
/* .videos{
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
} */


@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .search {
    display: none;
  }
}
@media (max-width: 900px) {
  .search input {
    width: 25rem;
  }
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
