*{
  margin: 0%;
  padding: 0%;
}
html{
  scroll-behavior: smooth;
  
}
body {
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
  background-image: linear-gradient(to bottom right, #999797, #F5FFFA, silver);
 /* overflow: hidden; */
  margin: 0;
  padding: 0;


}
.gotopbtn{
  position:fixed;
  width: 50px;
  height: 50px;
  background:#00BBC9;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align:center;
  line-height: 50px;
  color: whitesmoke;
  font-size: 22px;
}
.btn-outline-dark {
  border-radius:  100px / 50px;
  size-adjust: 50px;
}
.btn-outline-dark1 {
  color: black;
 color: whitesmoke;
 
 background-color: #51aaa3 ;
}
.carousel-item{
  width: 100%;
  height: 100%;
}
/* .col-12{
  box-shadow: 5px 5px 5px 5px;
} */
  
  
.carousel-inner{
  background-color: #51aaa3;
  border-radius: 100px / 50px;
  /* background-size: 100px, 200px; */
   width: 60%;
   height: 60%;
   box-shadow:  black;
   box-shadow: -1rem 0 3rem #000;
   /* border-radius: 10px 140px ;  */
   padding-top: 80px;
   margin-left: 250px;
  /* background-color: #00BBC9;
  background-image: 
    url("https://assets.codepen.io/226833/water.jpg"), 
    linear-gradient(#999797, #F5FFFA, silver), 
    linear-gradient( to left, #999797, #F5FFFA, silver);
  background-blend-mode: 
    difference, 
    overlay;
  animation-duration: 3s;
  animation-name: background-color-animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timin-function: ease-in-out;
  /* border-radius: 25px; */ 
  /* border-radius: 10px 140px 30px 140px; */
 
}

@keyframes background-color-animation {
  from {
    background-color: gray;
  }

  to {
    background-color: black;
  }
}


h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 4.3rem;
 
  
  
}
 .jumbotron {
background-color: rgba(128, 128, 128, 0);
} 
.drop-shawdow{
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.185) ;
}
.lead {
  color: whitesmoke;
  font-size: 2.2rem;
  font-family:sans-serif;
}
.btn-outline-light {
  border-color: black;
  
  
 
}

/* .btn-outline-light:hover {
  background-color: #00BBC9;
  
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  width: 50%;

}
.btn-primary, .btn-primary:hover {
  background-color: #00BBC9;
  border-color: greenyellow;
  
  
 }
body::-webkit-scrollbar {
  width: 15px; 
              /* width of the entire scrollbar */
} 
/* a:hover {
 
  font-weight: bold;
 } */
body::-webkit-scrollbar-track {
  background: gray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: whitesmoke;   /* color of the scroll thumb */
  border-radius: 50%;       /* roundness of the scroll thumb */
  border: 4px solid #00BBC9;  /* creates padding around scroll thumb */
} 
#offcanvasNavbar {
  background-image: linear-gradient(to bottom right, #999797, #F5FFFA, silver);
 
}
.offcanvas-header {
  background-color: whitesmoke;

}
.navbar-toggler {
  background-color: #00BBC9;
  border: whitesmoke;
}
/* a:hover {
 
  font-weight: bold;
 } */
.card-img-top {
  height: 576px;
  width: 400px;
}
/* .text-muted{
  text-decoration: none;
}
.card-footer{
  text-decoration: none;
} */

 /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
           background: black; 
           border-radius: 50%;
     }  
   .gotopbtn:hover {
    color: whitesmoke;
    color: black;
  
    } 
    .card-footer:hover{
    background-color: #51aaa3;
    
    } 
    a:link { text-decoration: none; }


    .card-columns {
      @include media-breakpoint-only(lg) {
        column-count: 4;
      }
      @include media-breakpoint-only(xl) {
        column-count: 5;
      }
    }
   
 .pic1 {
  background-color: #00BBC9;
 }
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
 
  /* background-image: linear-gradient(to bottom right, #5f9ea0, #7fff00); */
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     }
.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.img-wrapper > .content {
position: absolute;
inset: 0;
font-size: 2rem;
padding: 1rem;
background: rgb(255, 255, 255, .4);
display: flex;
justify-content: center;
align-items: center;

}
.img-wrapper > img, 
.img-wrapper > .content {
  transition: 200ms ease-in-out;
}
.img-wrapper:hover > img.blur {
  filter: blur(5px);
}
.img-wrapper:hover > img.gray {
  filter: grayscale(1);
}
.img-wrapper:hover > img.zoom {
  transform: scale(1.1);
}

.img-wrapper > .content.fade {
  opacity: 0;
}

.img-wrapper:hover > .content.fade {
  opacity: 1;
}

.img-wrapper > .content.slide-left {
  transform: translateX(-100%);
}

.img-wrapper:hover > .content.content.slide-left{
  transform: translateX(0);
}
.img-wrapper > .content.slide-right {
  transform: translateX(100%);
}

.img-wrapper:hover > .content.content.slide-right{
  transform: translateX(0);
}
.img-wrapper > .content.slide-down {
  transform: translateY(-100%);
}

.img-wrapper:hover > .content.content.slide-down{
  transform: translateY(0);
}
.img-wrapper > .content.slide-up {
  transform: translateY(100%);
}

.img-wrapper:hover > .content.content.slide-up{
  transform: translateY(0);
}
/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: whitesmoke;
}
.fab {
  color: gray;
}
/* footer styling */
#footer {
 
  background-color: black;
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
   text-align: center;
  /* position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  padding-bottom: 80px;
  margin-top: -260px; */ 
  
 
}


.header {
  position:fixed;
  margin-top: -80px;
  margin-left: -80px ;
  margin-right: -125px;
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: black;
  padding: 20px 10px;
}
.icon{
  color: yellow;
  margin-top:20px;
   margin-left: 360px; 
 
  border-radius: 300px   200px;
  position:absolute;
  border-style:double;
  background-color: whitesmoke; 
  /* top: 10%;
  left: 50%; */
  transform: translate(-50%, -50%);
  opacity: 50%;
  transition:opacity 0.5s;
  transform: translate(-50%,-50%);

  }  

/* img{
  object-fit: cover;
} */
/* aside {
  width: 30%;
  padding-right: 15px;
  margin-right: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
} */


  .icon1{
    color: yellow;
    border-radius: 300px, 200px;
    
    margin-top: -3%;
    margin-left: 3%; 
    
    position:absolute;
    border-style:double;
    background-color: whitesmoke;
    /* top: 10%;
    left: 50%; */
    opacity: 50%;
    transition:opacity 0.5s; 
    /* transform: translate(-50%,-50%); */
  }
 
  .things > .content {
    float: left;
    width: 50%;
    height: 500px;
    -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box;    
    box-sizing: border-box;
    position: relative;
    padding-left: 620px;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
    /* padding-top: -1em; */
    
  }
  
  .things > .content h1 {
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    left: 0;
     left: -25%;
    right: 100%; 
    margin: auto;
    position: absolute;
    height: 150px;
    color: #89323B;
   padding-left: 200px;
  }
  
  /* Arrow */
  
  .arrow {
   position: relative;
    margin: 0 auto;
    width: 100px;
    margin-top: 90px;
   
   
  
   
  }
  
  .arrow .curve {
  border: 2px solid #BE5F4B;
  border-color: transparent transparent transparent #BE5F4B;
  height: 360px;
  width: 1200px;
 
  border-radius: 230px 0 0 150px;
  /* padding-right: -150px; */


   

  }
  
  .arrow .point {
  position: absolute;
  left: 40px;
  top: 315px;
 
 
  

  }
  
  .arrow .point:before, .arrow .point:after {
  border: 1px solid #BE5F4B;
  height: 25px;
  content: "";
  position: absolute;
 
  
  }
  
  .arrow .point:before {
  top: -11px;
  left: -11px;
  transform:rotate(-74deg);
  -webkit-transform:rotate(-74deg);
    -moz-transform:rotate(-74deg);
    -ms-transform: rotate(-74deg);
  
  }
  
  .arrow .point:after {
    top: -20px;
  left: 5px;
  transform:rotate(12deg);
  -webkit-transform: rotate(12deg);
    -moz-transform:rotate(12deg);
    -ms-transform: rotate(12deg);
   
   
  }
 .card {
  margin-right: 20px;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.185) ;
 }
h5{
  text-align: center;
  /* border-bottom: 2px solid #000; */

   /* text-decoration: underline;       */
  /* text-decoration-color: black; */
  
}
.card-footer{
 
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.card-footer{
  text-align: center;
}
.text-muted{
  background-color: yellow;
  font-weight: bolder;
  
}
