
body{ display: flex; flex-wrap: wrap; justify-content: center; background: grey; padding-top: 20px;
  background-image: url("https://pbs.twimg.com/media/E3_guXtX0AUihWN.jpg");
  margin: 0;
/*  
     https://media.istockphoto.com/vectors/travel-concept-seamless-pattern-abstract-airplane-routes-travel-and-vector-id936346770?k=20&m=936346770&s=612x612&w=0&h=pNoiIGyr4aF7H_gmwI38xlKT4oOCouCYj8Tw0WaKYhI=  */
  
  }
  
  .card{margin-top: 100px;
  background: #17141d;
  background: white;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "bottom";
  font-family: roboto;
  border-radius: 18px;
  box-shadow: -1rem 0 3rem #000;
  text-align: center;
  overflow: hidden;
  transition: all 0.6s ease;
    //color: white;
  }
  
  .card-img{
    grid-area: image;
    background: linear-gradient(#fff0 0%, #fff0, 70%, #1d1d1d 100%), url("https://livingcities.org/wp-content/uploads/2021/04/AustinTX.jpg");
    background-size: cover;
  }
  
  .card-discription{
    grid-area: text;
    font-family: roboto;
    margin-top: -10px;
    margin-bottom: 100px;
  
  }

  .card-discription > p{
  margin: 15px; margin-top: -20px;margin-bottom: 30px;
 
  }
  
  #visit-header, #visit-state{
    font-family: arial;
    text-transform: uppercase;
  }
  
  #visit-state{font-size: 18px;
  margin-top: -18px; margin-bottom: 20px;
   color: #aaa;
  }
  
  #booknowbtn{
   background: #e9443c;
   grid-area: bottom;
   border: none;
   font-size: 20px;
   color: white;
   margin-top: 40px;
  }
  
  #booknowbtn:hover{cursor: pointer; background: red;
 
  }
  h2{
    text-align: center;
  }
  
  .card:hover{
    transform: translateY(-1rem);
    
    
  }
  a:hover {
    color: black;
  }
  
  .card:hover~.card{
    transform: translateX(130px);
    
    
    
  }
  
  .card:not(:first-child){
    margin-left: -130px;
    
  }
  
  
  
  /* LOCATION IMG */
  #sb{background-image: url("https://miro.medium.com/max/1000/1*HXChk_VSESSUYNR3VgCo_Q.jpeg")}
  /* #sb{background-image: url(https://prod-virtuoso.dotcmscloud.com/dA/b3bd129b-efda-486b-8290-ccb35cd0f167/previewImage/MissionSantaBarbara_hero.jpg);} */
  #yosemite{background-image: url("https://parentology.com/wp-content/uploads/2020/12/swissmediavision1163571314.jpg")}
  
  /* #marin{background-image: url("https://i.imgur.com/BvrDOz2.jpg")} */
  
  a{text-decoration: none;
  color: white;}
  
  /* RGB */
  
  .rgb::after {
    content:"";
    background: linear-gradient(45deg,
    #ff0000 0%, 
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%, 
    #3fdad8 40%,
    #2fc9e2 50%, 
    #1c7fee 60%, 
    #5f15f2 70%, 
    #ba0cf8 80%, 
    #fb07d9 90%, 
    #ff0000 100%  )
    repeat 0% 0% / 300% 100%;
    position: absolute;
    inset: -3px;
  } 
  
  @keyframes rgb {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  .rgb::after {

    border-radius: 16px;
    filter: blur(8px);
    transform: translateZ(-1px); /*or z-index */
    animation: rgb 6s linear infinite;
  }
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background:#00BBC9;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align:center;
  line-height: 50px;
  color: whitesmoke;
  font-size: 22px;
}
.lead {
  color: whitesmoke;
  font-size: 2.2rem;
  font-family:sans-serif;
}
.btn-outline-light {
  border-color: whitesmoke;
  
 
}

.btn-outline-light:hover {
  background-color: rgba(245, 245, 245, 0.158);
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.btn-primary, .btn-primary:hover {
  background-color: #00BBC9;
  border-color: greenyellow;
  
 }
 

#offcanvasNavbar {
  background-image: linear-gradient(to bottom right, #999797, #F5FFFA, silver);
}
.offcanvas-header {
  background-color: whitesmoke;

}
.navbar-toggler {
  background-color: #00BBC9;
  border: whitesmoke;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}  
.gotopbtn:hover {
color: whitesmoke;
color: black;

} 
a:hover {
 
  font-weight: bold;
 }

/* .no-break {
  white-space: nowrap;
} */


.icon{
  left: 15%;
  position:absolute;
  border-style:double;
  background-color: whitesmoke;
  opacity: 50%;
  transition:opacity 0.5s 
 

  }

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color: whitesmoke;
}
.fab {
  color: gray;
}
/* footer styling */
#footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
   text-align: center;
 
 
}
.header {
  position:fixed;
  margin-top: -75px;
  margin-left: -80px ;
  
  margin-right: -125px;
  overflow-y: hidden;
  width: 110%;
  height: 140px;
  background-color: black;
  padding: 20px 10px;
}

  .icon1{
    color: yellow;
    border-radius: 300px   200px;
    top: 70px;
    
    margin-top: 10%;
    margin-left: 5%; 
    position:absolute;
    border-style:double;
    background-color: whitesmoke;
    /* top: 10%;
    left: 50%; */
    opacity: 50%;
    transition:opacity 0.5s; 
    /* transform: translate(-50%,-50%); */
  }

h2 {
  /** set the color of the text **/
  /* color: var(--color1); */
 
  padding-left: 20px;
  padding-right: 20px;
 
 
  background-color: whitesmoke;
}
body::-webkit-scrollbar {
  width: 15px; 
  
              /* width of the entire scrollbar */
} 

body::-webkit-scrollbar-track {
  background: gray;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: whitesmoke;   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 4px solid #00BBC9;  /* creates padding around scroll thumb */
} 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@media (max-width: 768px) {
  .side-bar {
    display: none;
  }
  .search {
    display: none;
  }
}
@media (max-width: 900px) {
  .search input {
    width: 25rem;
  }
}